body {
    height: 100vh;
    background-image: radial-gradient(circle, #eee, #F8CA40, #F89775);
}

@font-face {
  font-family: 'Sigmar One';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/sigmar-one-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Sigmar One Regular'), local('SigmarOne-Regular'),
       url('fonts/sigmar-one-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/sigmar-one-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/sigmar-one-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/sigmar-one-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/sigmar-one-v10-latin-regular.svg#SigmarOne') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.fa-crown {
    font-size: 4rem;
    background: -webkit-linear-gradient(#eee, #F4D03F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.brandname {
    font-family: 'Sigmar One', sans-serif;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #F4D03F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-text {
    font-family: 'Sigmar One', sans-serif;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #F4D03F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: font-size 0.5s; /* For Safari 3.1 to 6.0 */
     transition: font-size 0.5s;
}

.nav-home:hover {
    background: -webkit-linear-gradient(#F4D03F, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
}

.nav-about-us:hover {
    background: -webkit-linear-gradient(#F4D03F, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
}

.nav-impressum:hover {
    background: -webkit-linear-gradient(#F4D03F, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
}

.nav-datenschutz:hover {
    background: -webkit-linear-gradient(#F4D03F, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
}

.main-content {
    padding: 4rem;
    margin: 3rem 0 3rem 0;
    height: 35rem;
    font-family: 'Roboto-Bold', sans-serif;
    background-color: rgba(246, 123, 133, 0.8);
}

footer {
    height: 12rem;
    background-color: black;
}

.footer-heading {
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.my-button a {
    text-decoration: none;
}

.footer-ul a {
    text-decoration: none;
}

li:hover {
    color: #1CB954;
}

.footer-ul {
    padding: 0;
}

.footer-li {
    color: white;
    list-style: none;
    padding: 0.3rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
}
.my-col-2 {
    height: 12rem;
    color: white;
}
.my-col-3 {
    height: 12rem;
}

.my-fa {
    font-size: 3rem;
    color: white;
    padding: 1rem;
}

.fa-facebook-square:hover {
    color: #4266B2;
}

.fa-instagram:hover {
    color: #B12F9B;
}

.fa-twitter-square:hover {
    color: #29AAE1;
}

.heading {
    text-shadow: black 0px 0px 1px;
}

.king {
    font-family: 'Sigmar One', sans-serif;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #F4D03F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: rotate(-3deg);
    display: inline-block;
}

.my-button {
        margin-top: 8rem;
}

.btn {
    display: block;
    margin: 0 auto;
    background-color: #1DB954;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    letter-spacing: 2px;
    font-weight: 700;
}

.btn:hover {
    background-color: #1ED760;
}

/*Bootstrap Custom Toggler*/
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(238, 238, 238, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #F4D03F;
}

@media (max-width: 600px) {
    .fa-crown {
        font-size: 2rem;
        padding-right: 0.4rem;
    }

    .brandname {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: 0.1rem;
    }

    .display-4 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 2rem;
    }

    .heading {
        text-align: center;
        font-size: 1rem;
    }

    .main-content {
        padding: 2rem 0 2rem 0;
        height: 27rem;
    }

    .my-button {
        margin-top: 2rem;
    }

    footer {
        height: 250px;
    }


    .footer-heading {
        padding-top: 1rem;
    }

    .my-col-3 {
        padding-top: 0;
        height: 4rem;
    }

    .btn {
        margin-top: 3rem;
    }

    .social-media {
        height: 3rem;
    }
}

@media (min-width: 600px) and (max-width: 1023px) {
    .navbar {
        height: 8rem;
    }

    .fa-crown {
        font-size: 5rem;
        padding-right: 0.4rem;
    }

    .brandname {
        font-size: 2rem;
    }

    .navbar-toggler {
        padding: 1.5rem;
    }

    .main-content {
        height: 40rem;
        text-align: center;
    }

    .king {
        font-size: 4rem;
    }

    .heading {
        font-size: 1.5rem;
    }
}
